
  <table style="width:100%">
    <tr>
      <td>
        <h2 class="mat-h2">Contacts List</h2>

        <mat-card style="width: 300px">
          <mat-action-list  *ngFor="let contact of contactArray">
            <table>
              <tr>
                <td style="width: 90%">
                    <button mat-list-item
                    [class.selected]="contact === selectedContact"
                    (click)="onSelect(contact)"> {{contact.name}} {{contact.family}}
                  </button>
                </td>
                <td style="width: 10%">
                    <button mat-icon-button (click)="openDialog(contact.id)"><mat-icon matListIcon>delete</mat-icon></button>
                </td>
              </tr>
            </table>
          <mat-divider></mat-divider>
          </mat-action-list>
        </mat-card>
        
      </td>
      <td>
        <app-contact-detail [contact]="selectedContact"></app-contact-detail>
      </td>
    </tr>
  </table>