<mat-vertical-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup" errorMessage="First name And Last name is required.">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field hintLabel="Max 20 characters">
        <input matInput maxlength="20" placeholder="First name" type="text" #cname formControlName="nameCtrl" required>
        <mat-hint align="end">{{cname.value?.length || 0}}/20</mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field hintLabel="Max 30 characters">
        <input matInput maxlength="30" placeholder="Last name" type="text" #cfamily formControlName="familyCtrl"
          required>
        <mat-hint align="end">{{cfamily.value?.length || 0}}/30</mat-hint>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" errorMessage="Email is required.">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your Email</ng-template>
      <mat-form-field>
        <input matInput placeholder="Email" type="email" #cmail formControlName="emailCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup" errorMessage="Phone Number is required.">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Fill out your Phone Number</ng-template>
      <mat-form-field hintLabel="e.g 9123456789">
        <input matInput placeholder="Phone" minlength="10" type="number" value="9" #cphone formControlName="phoneCtrl"
          required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-raised-button (click)="onSaveContact()">ADD</button>
    </div>
  </mat-step>
</mat-vertical-stepper>